@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
} 

body{
    background-color:#f3ebe3;
    background-image: url(img/Backgroundimg.png);
    background-repeat: no-repeat;
    background-size: 580px;
}



header {
    background-color: #272a29;
    box-shadow: 0px 3px 10px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}


.logo {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    width: 20%;
    white-space: nowrap;
}

.logo h1 {
    color: #ff8426;
    font-size: 50px;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-left:75px ;
    /* background-color: #ff8426; */
    /* padding: 0 50px 0 50px; */
        
}

.botoes-acesso {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    
}

.botoes-acesso1 {
    display: flex;
    margin-right: 100px;
    white-space: nowrap;
    
}

.botoes-acesso a{
    padding: 20px;
    white-space: nowrap;
}


.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-around;
    padding: 15px;
}


.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
    padding: 20px;
}

.login-button {
    margin-top: 30px;
    justify-content: end;
    white-space: nowrap;
}

.login-button2 {
    margin-top: 30px;
    justify-content: end;
    white-space: nowrap;
}

.login-button3 {
    margin-top: 30px;
    justify-content: end;
    white-space: nowrap;
}

.login-button a {
    background-color:transparent ;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-top: 150px; 
    text-decoration: none;
    font-weight: 500;
    justify-content: end;
    white-space: nowrap;
}

.login-button2 a {
    background-color:#ff8426;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    margin-bottom: 12px;
    text-decoration: none;
    justify-content: end;
    white-space: nowrap;
}

.login-button2 button a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    white-space: nowrap;
}

.button3 a {
    background-color:#8fff26;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    margin-bottom: 12px;
    text-decoration: none;
    white-space: nowrap;
}

.login-button3 a {
    background-color:#8fff26;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    margin-bottom: 12px;
    text-decoration: none;
    white-space: nowrap;
}
.login-button3{
    margin-top: 375px;
    margin-left: 850px;
    white-space: nowrap;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
.icon{
    width: 50px;
    height: 50px;
}
.logo .img{
    width: 80px;
    justify-content: start;
}

@media screen and (max-width: 1024px) {
    
    .logo h1{
        display: flex;
        width: 200px;
        font-size: 100px;
    }

    .logo .img{
        width: 200px;
        height: 150px;
    }

    .mobile-menu ul a{
        font-size: 50px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        
    }
   
    .nav-bar {
        padding: 2rem 4rem;
    }

    .nav-item {
        display: none;
    }
    
    .login-button {
        display: none;
        font-size: 40px;
    }

    .login-button2  {
        display: none;
        font-size: 40px;
    }

    .login-button3{
        display: none;
        font-size: 40px;
    }

    .mobile-menu-icon {
        display: block;
        
    }

    .mobile-menu-icon .icon{
        height: 100px;
        width: 100px;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 200px;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-bottom: 1rem;
        align-items: start;
    }

    .mobile-menu ul li {
        text-align: center;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top:1.2rem;
        
    }
    .mobile-menu .login-button{
        display: block;
        padding:1rem 0.5rem;
        margin-left: 50px;
    }
    .mobile-menu .login-button button{
        width:100%;
    }
    .mobile-menu .login-button2{
        display: block;
        padding:1rem 0.5rem;
    }

    .mobile-menu .button3{
        display: block;
        padding:3rem 1rem;
        margin-right: 50px;
        font-size: 40px;
    }
    .mobile-menu .login-button2 button{
        width:100%;
    }
    .open{
        display: block;
    }

    body {
        background-size: cover;
        background-position-y: 350px;
    }
}